@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Colors */

/*
60% of #B65049 - Primary
30% of #5049B6 - Secondary
10% of #49B650 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #B65049;

/* var(--secondaryColor) !important; */
--secondaryColor: #5049B6;

/* var(--accentColor) !important; */
--accentColor: #49B650;

/* var(--fontFamily) !important; */
--fontFamily: "Rubik", serif; 
}
